## **_Creating Schema And Loading Data_**

In [0]:
from pyspark.sql.types import *

dim_customers_schema = StructType([
    StructField("customer_key",IntegerType()),
    StructField("customer_id",IntegerType()),
    StructField("customer_number",StringType()),
    StructField("first_name",StringType()),
    StructField("last_name",StringType()),
    StructField("country",StringType()),
    StructField("marital_status",StringType()),
    StructField("gender",StringType()),
    StructField("birthdate",DateType()),
    StructField("create_date",DateType()),
])

product_schema = StructType([
    StructField("product_key", IntegerType(), True),
    StructField("product_id", IntegerType(), True),
    StructField("product_number", StringType(), True),
    StructField("product_name", StringType(), True),
    StructField("category_id", StringType(), True),
    StructField("category", StringType(), True),
    StructField("subcategory", StringType(), True),
    StructField("maintenance", StringType(), True),
    StructField("cost", IntegerType(), True),
    StructField("product_line", StringType(), True),
    StructField("start_date", DateType(), True)
])

sales_Schema = StructType([
    StructField("order_number", StringType()),
    StructField("product_key", IntegerType()),
    StructField("customer_key", IntegerType()),
    StructField("order_date", DateType()),
    StructField("shipping_date", DateType()),
    StructField("due_date", DateType()),
    StructField("sales_amount", IntegerType()),
    StructField("quantity", IntegerType()),
    StructField("price", IntegerType())

])

customers_df = spark.read \
    .format("csv") \
    .option("header",True) \
    .schema(dim_customers_schema) \
    .load("/Volumes/workspace/default/sql_data/gold.dim_customers.csv")

product_df = spark.read \
    .format("csv") \
    .option("header",True) \
    .schema(product_schema) \
    .load("/Volumes/workspace/default/sql_data/gold.dim_products.csv")

sales_df = spark.read \
    .format("csv") \
    .option("header",True) \
    .schema(sales_Schema) \
    .load("/Volumes/workspace/default/sql_data/gold.fact_sales.csv")

sales_df.show()
customers_df.show()
product_df.show()

+------------+-----------+------------+----------+-------------+----------+------------+--------+-----+
|order_number|product_key|customer_key|order_date|shipping_date|  due_date|sales_amount|quantity|price|
+------------+-----------+------------+----------+-------------+----------+------------+--------+-----+
|     SO54496|        282|        5400|2013-03-16|   2013-03-23|2013-03-28|          25|       1|   25|
|     SO54496|        289|        5400|2013-03-16|   2013-03-23|2013-03-28|           5|       1|    5|
|     SO54496|        259|        5400|2013-03-16|   2013-03-23|2013-03-28|           2|       1|    2|
|     SO54497|        174|        9281|2013-03-16|   2013-03-23|2013-03-28|          22|       1|   22|
|     SO54497|        280|        9281|2013-03-16|   2013-03-23|2013-03-28|           9|       1|    9|
|     SO54498|        174|        4825|2013-03-16|   2013-03-23|2013-03-28|          22|       1|   22|
|     SO54498|        277|        4825|2013-03-16|   2013-03-23|2013-03-28|          54|       1|   54|
|     SO54499|        289|        4286|2013-03-16|   2013-03-23|2013-03-28|           5|       1|    5|
|     SO54499|        246|        4286|2013-03-16|   2013-03-23|2013-03-28|          35|       1|   35|
|     SO54500|        289|        1472|2013-03-16|   2013-03-23|2013-03-28|           5|       1|    5|
|     SO54500|        284|        1472|2013-03-16|   2013-03-23|2013-03-28|          35|       1|   35|
|     SO54500|        244|        1472|2013-03-16|   2013-03-23|2013-03-28|          35|       1|   35|
|     SO54500|        166|        1472|2013-03-16|   2013-03-23|2013-03-28|           9|       1|    9|
|     SO54501|        290|        2777|2013-03-16|   2013-03-23|2013-03-28|           4|       1|    4|
|     SO54501|        287|        2777|2013-03-16|   2013-03-23|2013-03-28|          33|       1|   33|
|     SO54502|        286|        5302|2013-03-16|   2013-03-23|2013-03-28|          25|       1|   25|
|     SO54502|        290|        5302|2013-03-16|   2013-03-23|2013-03-28|           4|       1|    4|
|     SO54502|        166|        5302|2013-03-16|   2013-03-23|2013-03-28|           9|       1|    9|
|     SO54502|        245|        5302|2013-03-16|   2013-03-23|2013-03-28|          35|       1|   35|
|     SO54503|        290|         582|2013-03-16|   2013-03-23|2013-03-28|           4|       1|    4|
+------------+-----------+------------+----------+-------------+----------+------------+--------+-----+
only showing top 20 rows
+------------+-----------+---------------+----------+---------+-------------+--------------+------+----------+-----------+
|customer_key|customer_id|customer_number|first_name|last_name|      country|marital_status|gender| birthdate|create_date|
+------------+-----------+---------------+----------+---------+-------------+--------------+------+----------+-----------+
|           1|      11000|     AW00011000|       Jon|     Yang|    Australia|       Married|  Male|1971-10-06| 2025-10-06|
|           2|      11001|     AW00011001|    Eugene|    Huang|    Australia|        Single|  Male|1976-05-10| 2025-10-06|
|           3|      11002|     AW00011002|     Ruben|   Torres|    Australia|       Married|  Male|1971-02-09| 2025-10-06|
|           4|      11003|     AW00011003|   Christy|      Zhu|    Australia|        Single|Female|1973-08-14| 2025-10-06|
|           5|      11004|     AW00011004| Elizabeth|  Johnson|    Australia|        Single|Female|1979-08-05| 2025-10-06|
|           6|      11005|     AW00011005|     Julio|     Ruiz|    Australia|        Single|  Male|1976-08-01| 2025-10-06|
|           7|      11006|     AW00011006|     Janet|  Alvarez|    Australia|        Single|Female|1976-12-02| 2025-10-06|
|           8|      11007|     AW00011007|     Marco|    Mehta|    Australia|       Married|  Male|1969-11-06| 2025-10-06|
|           9|      11008|     AW00011008|       Rob|  Verhoff|    Australia|        Single|Female|1975-07-04| 2025-10-06|
|          10|      11009|     AW00011009|   Shannon|  Carlson|    Australia|        Single|  Male|1969-09-29| 2025-10-06|
|          11|      11010|     AW00011010| Jacquelyn|   Suarez|    Australia|        Single|Female|1969-08-05| 2025-10-06|
|          12|      11011|     AW00011011|    Curtis|       Lu|    Australia|       Married|  Male|1969-05-03| 2025-10-06|
|          13|      11012|     AW00011012|    Lauren|   Walker|United States|       Married|Female|1979-01-14| 2025-10-06|
|          14|      11013|     AW00011013|       Ian|  Jenkins|United States|       Married|  Male|1979-08-03| 2025-10-06|
|          15|      11014|     AW00011014|    Sydney|  Bennett|United States|        Single|Female|1973-11-06| 2025-10-06|
|          16|      11015|     AW00011015|     Chloe|    Young|United States|        Single|Female|1984-08-26| 2025-10-06|
|          17|      11016|     AW00011016|     Wyatt|     Hill|United States|       Married|  Male|1984-10-25| 2025-10-07|
|          18|      11017|     AW00011017|   Shannon|     Wang|    Australia|        Single|Female|1949-12-24| 2025-10-07|
|          19|      11018|     AW00011018|  Clarence|      Rai|    Australia|        Single|  Male|1955-10-06| 2025-10-07|
|          20|      11019|     AW00011019|      Luke|      Lal|       Canada|        Single|  Male|1983-09-04| 2025-10-07|
+------------+-----------+---------------+----------+---------+-------------+--------------+------+----------+-----------+
only showing top 20 rows
+-----------+----------+--------------+--------------------+-----------+----------+--------------+-----------+----+------------+----------+
|product_key|product_id|product_number|        product_name|category_id|  category|   subcategory|maintenance|cost|product_line|start_date|
+-----------+----------+--------------+--------------------+-----------+----------+--------------+-----------+----+------------+----------+
|          1|       210|    FR-R92B-58|HL Road Frame - B...|      CO_RF|Components|   Road Frames|        Yes|   0|        Road|2003-07-01|
|          2|       211|    FR-R92R-58|HL Road Frame - R...|      CO_RF|Components|   Road Frames|        Yes|   0|        Road|2003-07-01|
|          3|       348|    BK-M82B-38|Mountain-100 Blac...|      BI_MB|     Bikes|Mountain Bikes|        Yes|1898|    Mountain|2011-07-01|
|          4|       349|    BK-M82B-42|Mountain-100 Blac...|      BI_MB|     Bikes|Mountain Bikes|        Yes|1898|    Mountain|2011-07-01|
|          5|       350|    BK-M82B-44|Mountain-100 Blac...|      BI_MB|     Bikes|Mountain Bikes|        Yes|1898|    Mountain|2011-07-01|
|          6|       351|    BK-M82B-48|Mountain-100 Blac...|      BI_MB|     Bikes|Mountain Bikes|        Yes|1898|    Mountain|2011-07-01|
|          7|       344|    BK-M82S-38|Mountain-100 Silv...|      BI_MB|     Bikes|Mountain Bikes|        Yes|1912|    Mountain|2011-07-01|
|          8|       345|    BK-M82S-42|Mountain-100 Silv...|      BI_MB|     Bikes|Mountain Bikes|        Yes|1912|    Mountain|2011-07-01|
|          9|       346|    BK-M82S-44|Mountain-100 Silv...|      BI_MB|     Bikes|Mountain Bikes|        Yes|1912|    Mountain|2011-07-01|
|         10|       347|    BK-M82S-48|Mountain-100 Silv...|      BI_MB|     Bikes|Mountain Bikes|        Yes|1912|    Mountain|2011-07-01|
|         11|       317|    BK-R68R-44|    Road-450 Red- 44|      BI_RB|     Bikes|    Road Bikes|        Yes| 885|        Road|2011-07-01|
|         12|       318|    BK-R68R-48|    Road-450 Red- 48|      BI_RB|     Bikes|    Road Bikes|        Yes| 885|        Road|2011-07-01|
|         13|       319|    BK-R68R-52|    Road-450 Red- 52|      BI_RB|     Bikes|    Road Bikes|        Yes| 885|        Road|2011-07-01|
|         14|       315|    BK-R68R-58|    Road-450 Red- 58|      BI_RB|     Bikes|    Road Bikes|        Yes| 885|        Road|2011-07-01|
|         15|       316|    BK-R68R-60|    Road-450 Red- 60|      BI_RB|     Bikes|    Road Bikes|        Yes| 885|        Road|2011-07-01|
|         16|       311|    BK-R93R-44|    Road-150 Red- 44|      BI_RB|     Bikes|    Road Bikes|        Yes|2171|        Road|2011-07-01|
|         17|       312|    BK-R93R-48|    Road-150 Red- 48|      BI_RB|     Bikes|    Road Bikes|        Yes|2171|        Road|2011-07-01|
|         18|       313|    BK-R93R-52|    Road-150 Red- 52|      BI_RB|     Bikes|    Road Bikes|        Yes|2171|        Road|2011-07-01|
|         19|       314|    BK-R93R-56|    Road-150 Red- 56|      BI_RB|     Bikes|    Road Bikes|        Yes|2171|        Road|2011-07-01|
|         20|       310|    BK-R93R-62|    Road-150 Red- 62|      BI_RB|     Bikes|    Road Bikes|        Yes|2171|        Road|2011-07-01|
+-----------+----------+--------------+--------------------+-----------+----------+--------------+-----------+----+------------+----------+
only showing top 20 rows

## _**Magnitude Analysis**_

### **_Purpose :_**
- **_To quantify data and group results by specific dimensions._**
- **_For understanding data distribution across categories._**

### **_SQL Functions Used :_**
- **_Aggregate Functions: SUM(), COUNT(), AVG()_**
- **_GROUP BY, ORDER BY_**

In [0]:
# Find total customers by countries
from pyspark.sql.functions import *

customers_df.groupBy("country") \
    .agg(count("customer_id").alias("total_customer")) \
    .orderBy(col("total_customer").desc()) \
    .show()

+--------------+--------------+
|       country|total_customer|
+--------------+--------------+
| United States|          7482|
|     Australia|          3591|
|United Kingdom|          1913|
|        France|          1810|
|       Germany|          1780|
|        Canada|          1571|
|           n/a|           337|
+--------------+--------------+

In [0]:
#Find total customers by gender
customers_df.groupBy("gender") \
    .agg(count("customer_id").alias("total_customer")) \
    .orderBy(col("total_customer").desc()) \
    .show()

+------+--------------+
|gender|total_customer|
+------+--------------+
|  Male|          9341|
|Female|          9128|
|   n/a|            15|
+------+--------------+

In [0]:
# What is the total revenue generated for each category?

sales_df.join(product_df, sales_df.product_key==product_df.product_key,"left") \
    .groupBy("category") \
    .agg(sum("sales_amount").alias("total_revenue")) \
    .orderBy(col("total_revenue").desc()) \
    .show()

+-----------+-------------+
|   category|total_revenue|
+-----------+-------------+
|      Bikes|     28316272|
|Accessories|       700262|
|   Clothing|       339716|
+-----------+-------------+

In [0]:
# What is the total revenue generated by each customer?

sales_df.join(customers_df, sales_df.customer_key == customers_df.customer_key,"left") \
.groupBy(customers_df.customer_key,"first_name","last_name") \
.agg(sum("sales_amount").alias("total_revenue")) \
.orderBy(col("total_revenue").desc()) \
.show()

+------------+----------+---------+-------------+
|customer_key|first_name|last_name|total_revenue|
+------------+----------+---------+-------------+
|        1302|   Nichole|     Nara|        13294|
|        1133|   Kaitlyn|Henderson|        13294|
|        1309|  Margaret|       He|        13268|
|        1132|   Randall|Dominguez|        13265|
|        1301|   Adriana| Gonzalez|        13242|
|        1322|      Rosa|       Hu|        13215|
|        1125|    Brandi|     Gill|        13195|
|        1308|      Brad|      She|        13172|
|        1297| Francisco|     Sara|        13164|
|         434|   Maurice|     Shan|        12914|
|         440|     Janet|    Munoz|        12488|
|         242|      Lisa|      Cai|        11468|
|         418|     Lacey|    Zheng|        11248|
|         421|    Jordan|   Turner|        11200|
|         243|     Larry|    Munoz|        11067|
|        1656|     Larry|  Vazquez|        10899|
|        2264|      Kate|    Anand|        10871|
|        1324|  Lawrence|   Alonso|        10836|
|        1334|  Terrance|Rodriguez|        10829|
|        1651|     Aaron|   Wright|        10813|
+------------+----------+---------+-------------+
only showing top 20 rows

In [0]:
#-- What is the distribution of sold items across countries?

sales_df.join(customers_df,"customer_key","left") \
.groupBy("country") \
.agg(sum("quantity").alias("total_item_sold")) \
.orderBy(col("total_item_sold").desc()) \
.show()

+--------------+---------------+
|       country|total_item_sold|
+--------------+---------------+
| United States|          20481|
|     Australia|          13346|
|        Canada|           7630|
|United Kingdom|           6910|
|       Germany|           5626|
|        France|           5559|
|           n/a|            871|
+--------------+---------------+

# Ranking Analysis

**_Which 5 products Generating the Highest Revenue?_**

**_Importing Library_**

In [0]:
from pyspark.sql.window import Window
from pyspark.sql.functions import *

In [0]:
# Calculate total revenue for each product
total_rev = (
    sales_df.join(product_df, "product_key", "left")
        .groupBy("product_name")
        .agg(sum("sales_amount").alias("total_revenue"))
)

# Window for ranking by revenue (highest first)
window_spec = Window.orderBy(col("total_revenue").desc())

# Add rank and filter top 5 products
top_5_products = (
    total_rev.withColumn("rank", dense_rank().over(window_spec))
             .filter(col("rank") <= 5)
)

top_5_products.show()

/databricks/python/lib/python3.12/site-packages/pyspark/sql/connect/expressions.py:1134: UserWarning: WARN WindowExpression: No Partition Defined for Window operation! Moving all data to a single partition, this can cause serious performance degradation.
  warnings.warn(

+--------------------+-------------+----+
|        product_name|total_revenue|rank|
+--------------------+-------------+----+
|Mountain-200 Blac...|      1373454|   1|
|Mountain-200 Blac...|      1363128|   2|
|Mountain-200 Silv...|      1339394|   3|
|Mountain-200 Silv...|      1301029|   4|
|Mountain-200 Blac...|      1294854|   5|
+--------------------+-------------+----+

 **_What are the 5 worst-performing products in terms of sales?_**

In [0]:
# Calculate total revenue for each product
total_rev = (
    sales_df.join(product_df, "product_key", "left")
        .groupBy("product_name")
        .agg(sum("sales_amount").alias("total_revenue"))
)

# Window for ranking by revenue (Lowest first)
window_spec = Window.orderBy(col("total_revenue"))

# Add rank and filter Worst 5 products
top_5_products = (
    total_rev.withColumn("rank", dense_rank().over(window_spec))
             .filter(col("rank") <= 5)
)

top_5_products.show()

/databricks/python/lib/python3.12/site-packages/pyspark/sql/connect/expressions.py:1134: UserWarning: WARN WindowExpression: No Partition Defined for Window operation! Moving all data to a single partition, this can cause serious performance degradation.
  warnings.warn(

+--------------------+-------------+----+
|        product_name|total_revenue|rank|
+--------------------+-------------+----+
|     Racing Socks- L|         2430|   1|
|     Racing Socks- M|         2682|   2|
| Patch Kit/8 Patches|         6382|   3|
|Bike Wash - Disso...|         7272|   4|
|   Touring Tire Tube|         7440|   5|
+--------------------+-------------+----+

/databricks/python/lib/python3.12/site-packages/pyspark/sql/connect/expressions.py:1134: UserWarning: WARN WindowExpression: No Partition Defined for Window operation! Moving all data to a single partition, this can cause serious performance degradation.
  warnings.warn(